doctype html
html
    head
        link(rel="stylesheet", href="/app/css/ui.css")
        link(rel="stylesheet", href="/app/css/web.css")
        link(rel="stylesheet", href="/app/css/site.css")
        link(rel="stylesheet", href="/app/css/colours.css")

        title Components

        style.
            .component .info {
                flex: 1;
            }
            .component .info span {
                display: block;
                width: 100%;
            }
            .name {
                font-size: 16pt;
            }
            .token {
                font-size: 10pt;
            }

        if devMode
            script.
                console.log("Enabling Live-Reload");
                new WebSocket(`ws://${window.location.hostname}:#{devMode}`).addEventListener('message', _ => location.reload());
    body
        #toolbar
            button#find-component
                i(data-eva="cloud-download-outline")
            button#search
                i(data-eva="funnel-outline")
        section#components
            each i, a in components
                div.component
                    .info
                        span.name= i
                        span.token= a
                    .controls
                        button.info 
                        button(data-comp=a).remove 

        script(src="/app/comps.js", defer)