extends page

mixin renderPages(pages, root, depth)
    -
        const nonCapitalised = ['and', 'or', 'is', 'but', 'not', 'because', 'of', 'from', 'to', 'in', 'at', 'vs']
        const capitalise = function (i) {
            if (i.endsWith('.md'))
                i = i.slice(0, -3);
            const words = [];
            for (const word of i.split(/[-\s.\/\\]+/g)) {
                if (nonCapitalised.includes(word.toLowerCase()))
                    words.push(word.toLowerCase());
                else
                    words.push(word[0].toUpperCase() + word.slice(1).toLowerCase());
            }
            return words.join(' ');
        }
    for page in Object.keys(pages)
        if (typeof pages[page] === 'string')
            a.page(href=("/wiki/" + (root + page)).replace(/\/{2,}/g, '/'))= capitalise(page)
        else
            input(type="checkbox", id=`checkbox-for-${page}-${depth}`, checked).collapse
            label(for=`checkbox-for-${page}-${depth}`)
                span= capitalise(page)
                .indent
                    +renderPages(pages[page], '/' + root + page + '/', depth + 1)

mixin issue
    div#issue
        a(href="https://github.com/J-Cake/Logic-components/edit/documentation/doc/wiki" + page)
            button
                // TODO: Replace with character literal. KCharSelect somehow doesn't let me copy the glyph
                icon &#xEC80;
                | Found an issue?

mixin search
    form(action="/wiki/search", method="get")#form
        input(type="search", name="q", placeholder="Search")#query
        button(type="submit") 

block page
    link(rel="stylesheet", href="/app/css/wiki.css")

    if content
        input(type="checkbox", checked)#index.collapse-index
        label(for="index")
            h2 Index
            #pages
                +renderPages(pages, '', 0)

        section#article
            +search
            article !{content}
            +issue
    else
        div
        section#article
            +search
            article#content
                h1 LogicX Docs and Wiki

                p You can find any document in the index below, or by entering a query in the search box aboce

                input(type="checkbox", checked)#index.collapse-index
                label(for="index")
                    h2 Index
                    #pages
                        +renderPages(pages, '', 0)

            +issue