extends site/page

block page
    //script(src="/app/ui.js")

    style.
        #dashboard {
            display: grid;
            grid-template-columns: auto 1fr;
        }

        #tab-bar {
            grid-column: 1;
            height: 100%;
        }

        #form {
            grid-column: 2;
            position: relative;
            width: 100%;
            height: 100%;
        }

    section#dashboard
        section#tab-bar
            a(href="#own")#own-tab.tab-header Yours
            a(href="#shared")#shared-tab.tab-header Shared with you
            a(href="#my-components")#my-components-tab.tab-header Your Components

        section#form
            #doclist
                #tab-view
                    #own.tab
                        h3 Your documents
                        if own.length > 0
                            for doc in own
                                a(href=`/edit/${doc.documentToken}`, tab-index=1).doc
                                    span.info
                                        span.title= doc.documentTitle
                                        span.edited Edited on #{new Date(doc.edited).toLocaleDateString()}
                                    .controls
                                        button.addCollaborator 

                                        button.editName 

                                        button.deleteDoc 

                        else
                            span You own no documents.

                    #shared.tab
                        h3 Documents shared with you
                        if shared.length > 0
                            for doc in shared
                                a(href=`/edit/${doc.documentToken}`, tab-index=2).doc
                                    span.title= doc.documentTitle
                                    span.edited= new Date(doc.edited).toLocaleDateString()
                                    .controls
                                        button.leaveDoc 

                        else
                            span No one has shared any documents with you.

                    #my-components.tab
                        h3 Your components
                        if comps.length > 0
                            for component in comps
                                a(href=`/view/${component.componentToken}`, tab-index=3).doc
                                    span.info
                                        span.title= component.componentName
                                    .controls
                                        button.deleteComp 
                                        button.changeVisibility 

                        else
                            span You have not published any components yet.