extends site/page

block page
    style.
        #dashboard {
            display: grid;
            grid-template-columns: auto 1fr;
        }

        #tab-bar {
            grid-column: 1;
            height: 100%;
        }

        #form {
            grid-column: 2;
            position: relative;
            width: 100%;
            height: 100%;
        }

    script(src="/app/dashboard.js", defer)

    section#dashboard
        section#tab-bar
            a(href="#own")#own-tab.tab-header Yours
            a(href="#shared")#shared-tab.tab-header Shared with you
            a(href="#my-components")#my-components-tab.tab-header Your Components
        section#form
            #doclist
                #tab-view
                    #own.tab
                        .controls
                            h3 Your documents
                            button.icon#mkDoc 
                        if own.length > 0
                            for doc in own
                                .doc
                                    a(href=`/edit/${doc.documentToken}`, tab-index=1)
                                        span.info
                                            span.title= doc.documentTitle
                                            span.edited Edited on #{new Date(doc.edited).toLocaleDateString()}
                                    .controls
                                        button(data-doc=doc.documentToken).collab 
                                        button.editName(data-doc=doc.documentToken) 
                                        button(data-url=`/circuit/${doc.documentToken}`).deleteDoc 

                        else
                            span You own no documents.

                    #shared.tab
                        .controls
                            h3 Documents shared with you
                        if shared.length > 0
                            for doc in shared
                                .doc
                                    a(href=`/edit/${doc.documentToken}`, tab-index=2)
                                        span.info
                                            span.title= doc.documentTitle
                                            span.edited= new Date(doc.edited).toLocaleDateString()
                                    .controls
                                        button(data-doc=doc.documentToken).leaveDoc 

                        else
                            span No one has shared any documents with you.

                    #my-components.tab
                        .controls
                            h3 Your components
                        if comps.length > 0
                            for component in comps
                                .doc
                                    a(href=`/view/${component.componentToken}`, tab-index=3)
                                        span.info
                                            span.title= component.componentName
                                    .controls
                                        button.deleteComp 
                                        button.changeVisibility 

                        else
                            span You have not published any components yet.