extends index

block content

    script(src="/app/ui.js")

    script.
        window.addEventListener("load", function() {
            document.querySelector("#mkDoc").addEventListener("click", function() {
                const name = prompt("Enter a new Circuit name");
                if (name && name.trim().length > 0)
                    window.location.href = `/make?name=${encodeURIComponent(name)}`;
            });
        });

    section#form
        #toolbar
            .left
                a(href="/user/logout")
                    input(type="button", value="")
                input(type="button", value="")#mkDoc

        #doclist
            #tab-bar
                h4#own-tab.selected Yours
                h4#shared-tab Shared with you

            #tab-view
                #own.selected
                    if own.length > 0
                        for doc in own
                            div(data-href=doc.documentToken).doc
                                span.info
                                    span.title= doc.documentTitle
                                    span.edited Edited on #{new Date(doc.edited).toLocaleDateString()}
                                .controls
                                    button.addCollaborator 
                                    button.editName 
                                    button.deleteDoc 
                    else
                        span You own no documents.

                #shared
                    if shared.length > 0
                        for doc in shared
                            div(data-href=doc.documentToken).doc
                                span.title= doc.documentTitle
                                span.edited= new Date(doc.edited).toLocaleDateString()
                                .controls
                                    button.leaveDoc 
                    else
                        span No one has shared any documents with you.